.products {
  background-image: url("img/martin-sX4lxBWV0-A-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 800px;
}

ul li {
  list-style: none;
}

.cart_logo {
  height: 10vmin;
  pointer-events: none;
}

.coffee {
  height: 12vmin;
  pointer-events: none;
}

.coffeType {
  transition: transform 0.3s ease-in;
}

.coffeType:hover {
  transform: scale(1.1);
}

.btn-cart {
  text-transform: capitalize;
  padding: 7px 0;
}
.btn-cart:hover {
  background: purpel;
}
